[adc_temperature MULTIPLEXED_SENSORS]
temperature1: 0
voltage1: 0
temperature2: 1
voltage2: 3.3
# temperature1: 0
# voltage1: 0.0683958
# temperature2: 1
# voltage2: 0.6089292
# temperature3: 2
# voltage3: 0.9503109
# temperature3: 4
# voltage3: 1.488828
# temperature4: 7
# voltage4: 1.9229859
# temperature1: 0
# voltage1: 0
# temperature2: 1
# voltage2: 0.179640
# temperature2: 5 # multiple of 2 (2^x) - 1, where x is the number of sensors
# voltage2: 0.500336
# temperature3: 7
# voltage3: 0.9

[temperature_sensor gate_sensors]
sensor_type: MULTIPLEXED_SENSORS
# pullup_resistor: 560
sensor_pin: mmu:MMU_PRE_GATES
min_temp: -273
max_temp: 700000 # the same as temperature2 in MULTIPLEXED_SENSORS
adc_voltage: 3.3

# [delayed_gcode CHECK_GATE_SENSORS]
# initial_duration: 5
# gcode:
#     QUERY_ADC NAME="temperature_sensor gate_sensors"
#     UPDATE_DELAYED_GCODE ID=CHECK_GATE_SENSORS DURATION=2.0