[probe]
pin: sb2040:gpio25
x_offset: 0
y_offset: 0
z_offset: -1.094
speed: 10
lift_speed: 70
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

[safe_z_home]
home_xy_position: 150, 150
speed: 40000
z_hop: 5

[quad_gantry_level]
gantry_corners:
  -58, -20
  358,350
points:
  25,25
  25,250
  275,250
  275,25
speed: 700
horizontal_move_z: 5
retries: 6
retry_tolerance: 0.02
max_adjust: 6

[bed_mesh]
speed: 700
horizontal_move_z: 0.6
mesh_min: 25, 25
mesh_max: 275, 250
probe_count: 5, 5