
[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
# serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_150024000F50535556323420-if00
serial: /dev/serial/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.4:1.0
restart_method: command
##--------------------------------------------------------------------

#crontab test

# [virtual_pins]

[mcu sb2040]
canbus_uuid: 502d775b8945
[include config/sb2040.cfg]


[include config/motion.cfg]
[include config/homing.cfg]
[include config/extruder.cfg]
[include config/fans.cfg]
[include config/misc.cfg]
[include config/leds.cfg]
[include config/display.cfg]
[include config/mainsail.cfg]
[include config/timelapse.cfg]
# [include config/gate_sensors.cfg]
# [include config/blobifier.cfg]

[include mmu/base/*.cfg]
[include mmu/optional/client_macros.cfg]
[include mmu/optional/mmu_menu.cfg]
[include mmu/addons/blobifier.cfg]

[include macros/*.cfg]

[exclude_object]

[respond]

[pause_resume]
recover_velocity: 300

[printer]
kinematics: corexy
max_velocity: 700  
max_accel: 7000             
max_z_velocity: 70          
max_z_accel: 400
square_corner_velocity: 5.0

[heater_bed]
heater_pin: PA3
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PF3
max_power: 1.0
min_temp: 0
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

[gcode_arcs]
resolution: 0.1
    
[gcode_macro WEAR_SERVO]
gcode:
  {% for n in range(params.N|default(10)|int) %}
    MMU_SERVO POS=down
    G4 P1000
    MMU_SERVO POS=up
    G4 P1000
  {% endfor %}

[probe]
pin: ^sb2040:gpio25
x_offset: 0
y_offset: 0
#z_offset: -1.094
speed: 10
lift_speed: 70
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 55.0
#*# shaper_type_y = mzv
#*# shaper_freq_y = 48.8
#*#
#*# [probe]
#*# z_offset = -0.991
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.149713, 0.144638, 0.119263, 0.114188, 0.086275
#*# 	0.053288, 0.035525, 0.005075, 0.043138, 0.035525
#*# 	0.063438, 0.007613, 0.000000, 0.012688, 0.040600
#*# 	0.101500, 0.071050, 0.055825, 0.091350, 0.109113
#*# x_count = 5
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 290.0
#*# min_y = 58.4416
#*# max_y = 240.57160000000002
