
[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
# serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_150024000F50535556323420-if00
serial: /dev/serial/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.4:1.0
restart_method: command
##--------------------------------------------------------------------


[mcu sb2040]
canbus_uuid: 502d775b8945
[include config/sb2040.cfg]


[include config/homing.cfg]
[include config/extruder.cfg]
[include config/fans.cfg]
[include config/misc.cfg]
[include config/leds.cfg]
[include config/display.cfg]
[include config/mainsail.cfg]
[include config/timelapse.cfg]

[include mmu/base/*.cfg]
[include mmu/optional/client_macros.cfg]
[include mmu/optional/mmu_menu.cfg]
[include mmu/addons/blobifier.cfg]

[include macros/*.cfg]

[exclude_object]

[respond]

[pause_resume]
recover_velocity: 300

[printer]
kinematics: corexy
max_velocity: 700  
max_accel: 7000             
max_z_velocity: 40          
max_z_accel: 50
square_corner_velocity: 5.0

[heater_bed]
heater_pin: PA3
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PF3
max_power: 1.0
min_temp: 0
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769


[include config/motion.cfg]

[gcode_arcs]
resolution: 0.1
    
[gcode_macro WEAR_SERVO]
gcode:
  {% for n in range(params.N|default(10)|int) %}
    MMU_SERVO POS=down
    G4 P1000
    MMU_SERVO POS=up
    G4 P1000
  {% endfor %}

[load_cell_probe]
sensor_type: ads1220
cs_pin: PA15
spi_bus: spi3
data_ready_pin: PC0
gain: 128

sample_rate: 330
#   Normal sample rates: 20, 45, 90, 175, 330, 600, 1000
#   Turbo sample rates: 40, 90, 180, 350, 660, 1200, 2000
input_mux: AIN1_AIN2
vref: REF1
#   These parameters must be configured before the probe will operate.
#   See the [load_cell] section for further details.
safety_limit: 2000
#   The safe limit for probing force relative to the reference_tare_counts on
#   the load_cell. The default is +/-1Kg.
trigger_force: 250
#   The force that the probe will trigger at. 50g is the default.
continuous_tare_highpass: 0.8
#   Enable optional continuous taring while homing & probing to reject drift.
#   The value is a frequency, in Hz, below which drift will be ignored.This
#   option requires the SciPy library. Default: None
continuous_tare_lowpass: 100.0
#   The value is a frequency, in Hz, above which high frequency noise in the
#   load cell will be igfiltered outnored. If this option is set,
#   continuous_tare_highpass must also be set. Default: None
continuous_tare_notch: 50, 60
#   1 or 2 frequencies, in Hz, to filter out of the load cell data. This is
#   intended to reject power line noise. If this option is set,
#   continuous_tare_highpass must also be set. Default: None
continuous_tare_notch_quality: 2.0
#   Controls how narrow the range of frequencies are that the notch filter
#   removes. Larger numbers produce a narrower filter. Minimum value is 0.5 and
#   maximum is 3.0. Default: 2.0
trigger_count: 1
#   The number of samples over the trigger_force_grams threshold that will cause
#   the probe to trigger. 1 is the default.
settling_time: 0.2
#   Additional time to wait before taring the probe in seconds. This allows any
#   vibrations to settle and bowden tubes time to flex etc. This improves
#   repeatability. If the continuous_tare_filter is used this may be set to 0.
tare_samples: 80
#   The number of samples to use when automatically taring the load_cell before
#   each probe. The default value is: sample_per_second * (1 / 60) * 4. This
#   collects samples from 4 cycles of 60Hz mains power to cancel power line
#   noise.
speed: 3.0
samples: 1
sample_retract_dist: 1.0
lift_speed: 10
bad_tap_retries: 5
# samples_tolerance: 0.02
# samples_tolerance_retries: 5
nozzle_cleaner_gcode: CLEAN_BEFORE_PROBE
deactivate_on_each_sample: True
activate_gcode:
    {% set PROBE_TEMP = 160 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}
    # SET_GCODE_VARIABLE MACRO=CLEAN_BEFORE_PROBE VARIABLE=bed_temp VALUE={printer.heater_bed.target}
    # SET_GCODE_VARIABLE MACRO=CLEAN_BEFORE_PROBE VARIABLE=chamber_temp VALUE={printer['heater_generic Chamber'].target}
    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}
    # M140 S0
    # SET_HEATER_TEMPERATURE HEATER=Chamber TARGET=0
# deactivate_gcode:
#     M140 S{printer['gcode_macro CLEAN_BEFORE_PROBE'].bed_temp}
#     SET_HEATER_TEMPERATURE HEATER=Chamber TARGET={printer['gcode_macro CLEAN_BEFORE_PROBE'].chamber_temp}


[gcode_macro CLEAN_BEFORE_PROBE]
variable_bed_temp: 0
variable_chamber_temp: 0
gcode:
    {% set pos = printer.gcode_move.gcode_position %}
    {% set z = [printer.configfile.config.quad_gantry_level.horizontal_move_z|float,pos.z]|max %}
    M109 S160
    BLOBIFIER_CLEAN
    G1 Z{z} F2400
    G1 X{pos.x} Y{pos.y} F40000
    G1 Z{pos.z} F2400

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = ei
#*# shaper_freq_x = 66.6
#*# shaper_type_y = ei
#*# shaper_freq_y = 52.6
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.149713, 0.144638, 0.119263, 0.114188, 0.086275
#*# 	0.053288, 0.035525, 0.005075, 0.043138, 0.035525
#*# 	0.063438, 0.007613, 0.000000, 0.012688, 0.040600
#*# 	0.101500, 0.071050, 0.055825, 0.091350, 0.109113
#*# x_count = 5
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 290.0
#*# min_y = 58.4416
#*# max_y = 240.57160000000002
#*#
#*# [load_cell_probe]
#*# z_offset = -0.030
#*# counts_per_gram = 163.98883
#*# reference_tare_counts = 406635
