# OrcaSlicer Filename Format:
# | {nozzle_diameter[0]}x{layer_height}mm | {total_toolchanges} swaps | {input_filename_base}.gcode

[gcode_macro _CHANGE_NOZZLE]

variable_sizes =                (   0.2,    0.4,    0.6,    0.8)       # diameter
variable_purge_speed =          (   240,    440,    440,    440)       # purge speed
variable_pa =                   (   0.129,  0.03,   0.02,   0.01)      # Pressure advance
variable_equiped = 0.0

gcode:
    RESPOND TYPE=command MSG="action:prompt_end"
    {% set nozzle = params.D|default(0.4)|float %}
    {% for i in range(sizes|length) %}
        {% if sizes[i] == nozzle %}
            {action_respond_info("%f" % sizes[i])}
            SET_PRESSURE_ADVANCE ADVANCE={pa[i]}
            SET_GCODE_VARIABLE MACRO=BLOBIFIER VARIABLE=purge_spd VALUE={purge_speed[i]}
            SET_GCODE_VARIABLE MACRO=_CHANGE_NOZZLE VARIABLE=equiped VALUE={nozzle}
        {% endif %}
    {% endfor %}

[gcode_macro PROMPT_NOZZLE]
gcode:
    UPDATE_DELAYED_GCODE ID=SET_NOZZLE DURATION=0.1

[delayed_gcode SET_NOZZLE]
initial_duration: 1.0
gcode:
    RESPOND TYPE=command MSG="action:prompt_end"
    {% set nozzles = printer['gcode_macro _CHANGE_NOZZLE'].sizes %}
    RESPOND TYPE=command MSG="action:prompt_begin Set nozzle diameter"
    RESPOND TYPE=command MSG="action:prompt_text Which nozzle is currently equiped?"
    RESPOND TYPE=command MSG="action:prompt_button_group_start"
    {% for nozzle in nozzles %}
        RESPOND TYPE=command MSG={"'action:prompt_button %.2f|_CHANGE_NOZZLE D=%.2f'" % (nozzle, nozzle)}
    {% endfor %}
    RESPOND TYPE=command MSG="action:prompt_button_group_end"
    RESPOND TYPE=command MSG="action:prompt_show"

[gcode_macro SDCARD_PRINT_FILE]
rename_existing: SDCARD_PRINT_FILE_0
gcode:
    {% set cn = printer['gcode_macro _CHANGE_NOZZLE'] %}
    {% set FILENAME = params.FILENAME %}
    {action_respond_info("printing file: %s" % FILENAME)}
    {% set FILE_NOZZLE_SIZE = FILENAME|list|batch(6)|first|select('ne', 'x')|select('ne', '|')|join|float %}
    # {action_respond_info("%s " % FILENAME|list|slice(6)|join)}
    # {action_respond_info("%s " % FILENAME|list|slice(6)|first|join)}
    # {action_respond_info("%s " % FILENAME|list|slice(6)|first|select('ne', 'x')|join)}
    # {action_respond_info("%s " % FILENAME|list|slice(6)|first|select('ne', 'x')|select('ne', '|')|join)}
    {action_respond_info("printing file nozzle size: %s" % FILE_NOZZLE_SIZE)}
    {% if FILE_NOZZLE_SIZE == 0 or FILE_NOZZLE_SIZE == cn.equiped %}
      SDCARD_PRINT_FILE_0 {rawparams}
    {% else %}
      {action_respond_info("File nozzle: %f, Equiped: %f" % (FILE_NOZZLE_SIZE, cn.equiped))}
      RESPOND TYPE=command MSG="action:prompt_begin Check nozzle diameter!"
      RESPOND TYPE=command MSG="action:prompt_text The equiped nozzle doesn't match the file nozzle. Either check your slicer or change the nozzle."
      RESPOND TYPE=command MSG="action:prompt_button_group_start"
      RESPOND TYPE=command MSG="action:prompt_button Change nozzle|PROMPT_NOZZLE"
      RESPOND TYPE=command MSG="action:prompt_button Cancel print|RESPOND TYPE=command MSG='action:prompt_end'|error"
      RESPOND TYPE=command MSG="action:prompt_button_group_end"
      RESPOND TYPE=command MSG="action:prompt_show"
    {% endif %}

[gcode_macro LEVELING_POST_HEIGHT]
gcode:
    {% set z = params.Z %}
    SET_GCODE_OFFSET Z={z}
    SAVE_CONFIG