#####################################################################
#   print_start macro
#####################################################################

[gcode_macro PRINT_START]
variable_chamber_wait: 60  # %
gcode:
    # =====================================================================================
    # ================================ END PROCESSES THAT MAY INTERFERE WITH PRINTING =====
    # =====================================================================================
    STOP_DRYER
    UPDATE_DELAYED_GCODE ID=TURN_OFF_BED_COOLER DURATION=0
    SET_HEATER_TEMPERATURE HEATER=Chamber TARGET=0
    CLEAR_PAUSE

    # =====================================================================================
    # =========================================== GET PARAMETERS AND IMPORTANT VALUES =====
    # =====================================================================================
    {% set target_bed = params.BED|int %}
    {% set target_extruder = params.EXTRUDER|int %}
    {% set target_chamber = params.CHAMBER|default("40")|int %}
    {% set wait_camber = (target_chamber * chamber_wait / 100) | round %}
    {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
    {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}
    {% set tool = printer.mmu.slicer_tool_map.initial_tool|default(-1)|int %}
    _BLOBIFIER_SAFE_DESCEND
    G90

    # =====================================================================================
    # =========================================================== WAKE UP THE PRINTER =====
    # =====================================================================================
    SET_LED LED="chamber_leds" RED=1 GREEN=1 BLUE=1 SYNC=0 TRANSMIT=1
    SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=electronics TARGET=55
    _FILAMETRIX_GANTRY_SERVO_UP


    # =====================================================================================
    # ============================================================ HOMIN AND LEVELING =====
    # =====================================================================================
    # ===== HOMING
    # STATUS_HOMING
    _CG28
    # ===== LEVELING
    # STATUS_LEVELING                 
    M117 : :
    _CQGL       
    
    # =====================================================================================
    # ======================================================= HEATING BED AND CHAMBER =====
    # =====================================================================================
    # STATUS_HEATING

    # Move to bed center and turn on PC fan
    G1 X{x_wait} F9000
    G1 Y{y_wait} Z100
    M106 S255
    
    # Bed heating
    M117 Bed: {target_bed}c
    M190 S{target_bed}                                 

    # Chamber heating
    M117 Heatsoak: {wait_camber}c
    SET_HEATER_TEMPERATURE HEATER=Chamber TARGET={target_chamber}
    TEMPERATURE_WAIT SENSOR="heater_generic Chamber" MINIMUM={wait_camber}

    # =====================================================================================
    # ======================================================================= MESHING =====
    # =====================================================================================  
    # STATUS_MESHING                     
    M117 :::::
    BED_MESH_CALIBRATE ADAPTIVE=1    

    # =====================================================================================
    # ================================================================ HEATING HOTEND =====
    # =====================================================================================

    M117 Hotend: {target_extruder}c                                           
    M104 S{target_extruder}

    # =====================================================================================
    # ======================================================= LOAD FILAMENT AND START =====
    # =====================================================================================                                               
    # STATUS_PRINTING
    G1 X25 Y307 Z1 F9000
    MMU_CHANGE_TOOL STANDALONE=1 TOOL={tool}
    M107   
    # Reset extruder position        
    G92 E0 

