[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:

    {% set pos = printer.gcode_move.gcode_position %}
    {% set max = printer.toolhead.axis_maximum %}
    {% set z_max = max.z - 0.5%}
    {% set z_hop = [pos.z + 10, z_max]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    BLOBIFIER_SAFE_DESEND_MODE ENABLE=1
    
    G90        
    M107                 
    TIMELAPSE_TAKE_FRAME # Final frame

    BLOBIFIER_PARK
    MMU_UNLOAD
    TURN_OFF_HEATERS
    # STATUS_COOLING
    # Proper clean for the next bed leveling
    M106 S255 #PT cooling fan
    BLOBIFIER_CLEAN
    TEMPERATURE_WAIT SENSOR=extruder MAXIMUM=170
    BLOBIFIER_CLEAN
    TEMPERATURE_WAIT SENSOR=extruder MAXIMUM=150
    BLOBIFIER_CLEAN
    TEMPERATURE_WAIT SENSOR=extruder MAXIMUM=130
    BLOBIFIER_CLEAN
    M106 S0 #PT cooling fan

    BED_MESH_CLEAR
    TURN_ON_BED_COOLER
    # reset the electronics temperature
    SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=electronics TARGET={printer.configfile.settings['temperature_fan electronics'].target_temp}
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END

[delayed_gcode TURN_OFF_BED_COOLER]
initial_duration: 1
gcode:
  {% if printer.heater_bed.temperature < 60 %}
    SET_HEATER_TEMPERATURE HEATER=Chamber TARGET=0
    STOP_LED_EFFECTS
    CHAMBER_LEDS_OFF
  {% else %}
    SET_HEATER_TEMPERATURE HEATER=Chamber TARGET=75
    UPDATE_DELAYED_GCODE ID=TURN_OFF_BED_COOLER DURATION=5
  {% endif %}


[gcode_macro TURN_ON_BED_COOLER]
gcode:
  SET_HEATER_TEMPERATURE HEATER=Chamber TARGET=75
  TURN_OFF_HEATERS
  UPDATE_DELAYED_GCODE ID=TURN_OFF_BED_COOLER DURATION=1