[gcode_macro _FILAMETRIX_GANTRY_SERVO_DOWN]
# rename_existing: _FILAMETRIX_GANTRY_SERVO_DOWN_2
description: Operate optional gantry servo operated pin
gcode:
    {% set vars = printer['gcode_macro _MMU_CUT_TIP_VARS'] %}
    {% set gantry_servo_enabled = vars['gantry_servo_enabled']|default(true)|lower == 'true' %}
    {% set angle = vars['gantry_servo_down_angle']|float %}

    {% if gantry_servo_enabled %}
        SET_SERVO SERVO=mmu_gantry_servo ANGLE={angle}
        G4 P300
        SET_SERVO SERVO=mmu_gantry_servo WIDTH=0
    {% endif %}

[gcode_macro _FILAMETRIX_GANTRY_SERVO_UP]
# rename_existing: _FILAMETRIX_GANTRY_SERVO_UP_2
description: Operate optional gantry servo operated pin
gcode:
    {% set vars = printer['gcode_macro _MMU_CUT_TIP_VARS'] %}
    {% set gantry_servo_enabled = vars['gantry_servo_enabled']|default(true)|lower == 'true' %}
    {% set angle = vars['gantry_servo_up_angle']|float %}

    {% if gantry_servo_enabled %}
        SET_SERVO SERVO=mmu_gantry_servo ANGLE={angle}
        G4 P300
        SET_SERVO SERVO=mmu_gantry_servo WIDTH=0
    {% endif %}