# [gcode_macro LCDRGB]
# gcode:
    # {% set r = params.R|default(0)|float %}
    # {% set g = params.G|default(0)|float %}
    # {% set b = params.B|default(0)|float %}

    # SET_LED LED=btt_mini12864 RED={r} GREEN={g} BLUE={b} INDEX=1 TRANSMIT=0
    # SET_LED LED=btt_mini12864 RED={r} GREEN={g} BLUE={b} INDEX=2 TRANSMIT=0
    # SET_LED LED=btt_mini12864 RED={r} GREEN={g} BLUE={b} INDEX=3

[gcode_macro LCDRGB]
gcode:
    {% set knob = params.KNOB|default("22DD22") %}
    {% set knobR = knob[:2]|int(base=16)|float / 255 %}
    {% set knobG = knob[2:4]|int(base=16)|float / 255 %}
    {% set knobB = knob[4:]|int(base=16)|float / 255 %}

    {% set screen = params.SCREEN|default("22DD22") %}
    {% set screenR = screen[:2]|int(base=16)|float / 255 %}
    {% set screenG = screen[2:4]|int(base=16)|float / 255 %}
    {% set screenB = screen[4:]|int(base=16)|float /255 %}

    SET_LED LED=btt_mini12864 RED={screenR} GREEN={screenG} BLUE={screenB} INDEX=1 TRANSMIT=0
    SET_LED LED=btt_mini12864 RED={knobR} GREEN={knobG} BLUE={knobB} INDEX=2 TRANSMIT=0
    SET_LED LED=btt_mini12864 RED={knobR} GREEN={knobG} BLUE={knobB} INDEX=3

[gcode_macro LCD_ON]
gcode:
  LCDRGB

[gcode_macro LCD_OFF]
gcode:
  LCDRGB KNOB=000000 SCREEN=000000