
# [gcode_macro _TOOL_CHANGE]
# variable_last_tool: "0"
# gcode:
#   {% set new_tool = params.NEW_TOOL|string %}
#   SET_DISPLAY_TEXT MSG="T{last_tool} => T{new_tool}" 
#   {% set homed = ("xyz" in printer.toolhead.homed_axes) %}
#   {% if new_tool != last_tool|string %}
#     # {% set act    = printer.gcode_move.gcode_position %}
#     # {% set max    = printer.toolhead.axis_maximum %}
#     # {% set park_z = act.z + 20 if act.z + 20 < max.z else max.z %}

#     # M83 #relative extrusion mode
#     # {% if homed %}
#     #   G1 F3000 Z{act.z + 2} E-1
#     #   G1 F48000 X300 Y0 Z{park_z}    
#     # {% endif %}
  
  
#     # G1 F180 E-10
#     # G1 F3000 E-100
  
#     # M82 #absolute extrusion mode

#     # {% last_tool = new_tool %}
#     SET_GCODE_VARIABLE MACRO=_TOOL_CHANGE VARIABLE=last_tool VALUE={new_tool}

#     SET_DISPLAY_TEXT MSG="Insert T{new_tool} filament" 
#     # PAUSE_BASE X=300 Y=0 Z_MIN={park_z}
#     PAUSE
#     # G1 F48000 X{act.x} Y{act.y} Z{act.z + 2}
#     # G1 F3000 Z{act.z}
#   {% endif %}
#   SET_DISPLAY_TEXT MSG="printing with T{new_tool}"

# [gcode_macro T0]
# gcode:
#   _TOOL_CHANGE NEW_TOOL=0

# [gcode_macro T1]
# gcode:
#   _TOOL_CHANGE NEW_TOOL=1

# [gcode_macro T2]
# gcode:
#   _TOOL_CHANGE NEW_TOOL=2