[gcode_macro PARK]
gcode:
    {% set th = printer.toolhead %}
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y//2} Z30  
    
###########################################################################
# Shared toolhead parking macro designed to position toolhead at a suitable
# parking or purging area
#   Z_HOP | float - override z-hop default
#
[gcode_macro _PARK]
variable_initial_park_z: 9999
variable_travel_speed: 10000
variable_lift_speed: 2000
variable_z_hop: 2
description: Park toolhead safely away from print
gcode:
    {% set park_z_hop = params.Z_HOP|default(z_hop)|float %}
    {% set x = 20 %} #printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set pos = printer.gcode_move.gcode_position %}
    {% set origin = printer.gcode_move.homing_origin %}
    {% set max = printer.toolhead.axis_maximum %}
    {% set z = [[pos.z, initial_park_z]|min + park_z_hop, max.z - origin.z]|min %}

    {% if not 'xy' in printer.toolhead.homed_axes %}
        RESPOND MSG="Cannot park because XY not homed"
    {% else %}
        G90					# Absolute
        {% if park_z_hop > 0 %}
            {% if not 'z' in printer.toolhead.homed_axes %}
                RESPOND MSG="Skipping z_hop because Z not homed"
            {% else %}
                {% if initial_park_z >= 9999 %}
                    SET_GCODE_VARIABLE MACRO=_MMU_Variables VARIABLE=initial_park_z VALUE={pos.z}
                {% endif %}
                G1 Z{z} F{lift_speed}	# Z lift applied first
            {% endif %}
        {% endif %}
        G1 X{x} Y{y} F{travel_speed}	# Move to park position
    {% endif %}