[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:

    {% set pos = printer.gcode_move.gcode_position %}
    {% set origin = printer.gcode_move.homing_origin %}
    {% set max = printer.toolhead.axis_maximum %}
    {% set z_max = max.z - origin.z - 0.2%}
    
    {% set y = max.y - origin.y %}
    {% set z_hop = [pos.z + 1, z_max]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    TURN_OFF_HEATERS
    SET_PIN PIN=nevermore VALUE=0
    
    G90        
    G0 Z{z_hop} E-1 F4000
    _FILAMETRIX_GANTRY_SERVO_DOWN
    G0 X{max.x/2} Y{y} Z{z_max} F20000  
    M107                 
    
    CHAMBER_LEDS_OFF
    BED_MESH_CLEAR
    STATUS_COOLING
    # reset the electronics temperature
    SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=electronics TARGET={printer.configfile.settings['temperature_fan electronics'].target_temp}
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END