[gcode_macro SLEEP]
variable_extruder_temp: 0
gcode:
    {% set pos = printer.gcode_move.gcode_position %} 
    {% set max_pos = printer.toolhead.axis_maximum %}
    {% set z = [pos.z + 1, max_pos.z]|min %}
    
    G1 X{max_pos.x/2} Y{max_pos.y}
    G1 Z{z}
    SET_IDLE_TIMEOUT TIMEOUT=84600
    UPDATE_DELAYED_GCODE ID=PAUSE_SLEEPMODE DURATION=300
    SET_GCODE_VARIABLE MACRO=SLEEP VARIABLE=extruder_temp VALUE={printer.extruder.target}

[delayed_gcode PAUSE_SLEEPMODE]
gcode:
    M107
    M104 S0
    # CHAMBER_LEDS_OFF
    SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=electronics TARGET=68

[gcode_macro WAKE]
gcode:
    UPDATE_DELAYED_GCODE ID=PAUSE_SLEEPMODE DURATION=0
    SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=electronics TARGET=55
    # CHAMBER_LEDS_ON
    SET_IDLE_TIMEOUT TIMEOUT=300
    {% set sleep = printer['gcode_macro SLEEP'] %}
    M109 S{sleep.extruder_temp}
    G4 P1000
    M109 S{sleep.extruder_temp}
    BLOBIFIER