
# [gcode_macro SBRGB]
# gcode:
#     {% set r = params.R|default(0)|float %}
#     {% set g = params.G|default(0)|float %}
#     {% set b = params.B|default(0)|float %}

#     SET_LED LED=stealthburner RED={r} GREEN={g} BLUE={b} INDEX=1 TRANSMIT=0
#     SET_LED LED=stealthburner RED={r} GREEN={g} BLUE={b} INDEX=2 TRANSMIT=0
#     SET_LED LED=stealthburner RED={r} GREEN={g} BLUE={b} INDEX=3

[gcode_macro SBRGB]
gcode:
    {% set logo = params.LOGO|default("22DD22") %}
    {% set logoR = logo[:2]|int(base=16)|float / 255 %}
    {% set logoG = logo[2:4]|int(base=16)|float / 255 %}
    {% set logoB = logo[4:]|int(base=16)|float / 255 %}

    {% set nozzle = params.NOZZLE|default("22DD22") %}
    {% set nozzleR = nozzle[:2]|int(base=16)|float / 255 %}
    {% set nozzleG = nozzle[2:4]|int(base=16)|float / 255 %}
    {% set nozzleB = nozzle[4:]|int(base=16)|float /255 %}

    SET_LED LED=stealthburner RED={logoR} GREEN={logoG} BLUE={logoB} INDEX=1 TRANSMIT=0
    SET_LED LED=stealthburner RED={nozzleR} GREEN={nozzleG} BLUE={nozzleB} INDEX=2 TRANSMIT=0
    SET_LED LED=stealthburner RED={nozzleR} GREEN={nozzleG} BLUE={nozzleB} INDEX=3