[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200
endstop_pin: sb2040:gpio29
position_min: -1
position_endstop: 301
position_max: 301
homing_speed: 100 
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC4
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 5

[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: ^PG13
position_min: 0
position_endstop: 307
position_max: 307
homing_speed: 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PD11
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 5

[stepper_z]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
rotation_distance: 40.6
gear_ratio: 80:16
microsteps: 16
endstop_pin: probe:z_virtual_endstop
position_max: 240
position_min: -10
homing_speed: 10
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: true
run_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 9999

[stepper_z1]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
rotation_distance: 40.6
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: true
run_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 9999

[stepper_z2]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
rotation_distance: 40.6
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: true
run_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 9999

[stepper_z3]
step_pin: PC13
dir_pin: PF0
enable_pin: !PF1
rotation_distance: 40.6
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: true
run_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 9999

# ===========================================================================
# ====================== TMC AUTOTUNE =======================================
# ===========================================================================

[motor_constants HEM-17D3003]
# Coil resistance, Ohms
resistance: 4.4
# Coil inductance, Henries
inductance: 0.007
# Holding torque, Nm
holding_torque: 0.34
# Nominal rated current, Amps
max_current: 0.9
# Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
steps_per_revolution: 200

[motor_constants LDO-42STH38-1004A]
# Coil resistance, Ohms
resistance: 6.5
# Coil inductance, Henries
inductance: 0.0032
# Holding torque, Nm
holding_torque: 0.36
# Nominal rated current, Amps
max_current: 1.0
# Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
steps_per_revolution: 200

[motor_constants LDO-42STH20-104A]
# Coil resistance, Ohms
resistance: 3.5
# Coil inductance, Henries
inductance: 0.0045
# Holding torque, Nm
holding_torque: 0.13
# Nominal rated current, Amps
max_current: 1.0
# Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
steps_per_revolution: 200

[autotune_tmc stepper_x]
motor: ldo-42sth48-2004mah
[autotune_tmc stepper_y]
motor: ldo-42sth48-2004mah

[autotune_tmc stepper_z]
motor: HEM-17D3003
[autotune_tmc stepper_z1]
motor: HEM-17D3003
[autotune_tmc stepper_z2]
motor: HEM-17D3003
[autotune_tmc stepper_z3]
motor: HEM-17D3003

[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg

[autotune_tmc stepper_mmu_selector]
tuning_goal: silent
motor: LDO-42STH20-104A

[autotune_tmc stepper_mmu_gear]
tuning_goal: performance
motor: LDO-42STH38-1004A