[include mmu/base/*.cfg]
[include mmu/optional/client_macros.cfg]
[include mmu/optional/mmu_menu.cfg]

[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
# serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_150024000F50535556323420-if00
serial: /dev/serial/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.4:1.0
restart_method: command
##--------------------------------------------------------------------

#crontab test

[mcu sb2040]
canbus_uuid: efb893a4a197
[include config/sb2040.cfg]


[include config/motion.cfg]
[include config/homing.cfg]
[include config/extruder.cfg]
[include config/fans.cfg]
[include config/misc.cfg]
[include config/leds.cfg]
[include config/display.cfg]
[include config/mainsail.cfg]
[include config/timelapse.cfg]
[include config/blobifier.cfg]

[include macros/*.cfg]

[include KAMP_Settings.cfg]

[exclude_object]

[respond]

[pause_resume]
recover_velocity: 300

[printer]
kinematics: corexy
max_velocity: 700  
max_accel: 7000             
max_z_velocity: 70          
max_z_accel: 400
square_corner_velocity: 5.0

[heater_bed]
heater_pin: PA3
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PF3
max_power: 0.7
min_temp: 0
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

[gcode_arcs]
resolution: 0.1
    



#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 55.0
#*# shaper_type_y = mzv
#*# shaper_freq_y = 48.8
